.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  background: #eee;
  padding: 20px;
}

.header {
  border-bottom: 2px solid #000;
  padding: 20px 0;
}

.footer {
  border-top: 2px solid #000;
  padding: 20px 0;
}